<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BookStore</title>
    </head>

    <body>
        <a href="/"><header><h1>HOME</h1></header></a>
        <h3>Form</h3>

        <p><a href="/form">Click for Form</a></p>

            {{range .Books}}
            <article>
                <a href="/book/view/{{.ID}}"><h2>{{.Title}}</h2></a>
                <div>Author: {{.Author}}</div>
                <p>Description: {{.Description}}</p>
                <time datetime="{{.CreatedAt}}">{{.CreatedAt}}</time>
                <button><a href="/form/update/{{.ID}}">Edit</a></button>
            </article>
            {{end}}

        <footer>
            Powered by <a href="https://golang.org">Go</a>
        </footer>
    </body>
</html>