<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BookStore</title>
    </head>

    <body>
        <header><h1>Form</h1></header>

        <p><a href="/form">Click for Form</a></p>

        <footer>
            Powered by <a href="https://golang.org">Go</a>
        </footer>
    </body>
</html>